/* base */

:root {
    --mainpurple: #221734;
    --title: #E9E2D4;
    --gradient1: linear-gradient(128deg, rgba(56, 0, 99, 1) 28%, rgba(60, 36, 167, 1) 100%);
    --gradient2: linear-gradient(128deg, rgb(197 81 199 / 55%) 31%, rgb(88 26 185 / 91%) 100%);
    --gradient3: -webkit-linear-gradient(128deg, rgb(197 81 199 / 55%) 31%, rgb(88 26 185 / 91%) 100%);
    --gradient4: linear-gradient(-45deg, rgba(0, 0, 255, 0), #5F91FF, rgba(0, 0, 255, 0));
}

body {
    background-color: var(--mainpurple);
    background-image: url(../img/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

a:hover {
    text-decoration: none;
}

/* header */

#header1 {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

/* titre du site */

.title {
    color: var(--title);
    font-family: 'alatsi';
    font-size: 3em;
    text-transform: lowercase;
    text-shadow: #AC43BB 0px 0px 16px;
    margin: 5px 26px;
}

/* navigation */

/* #navlinks {

} */

nav a, nav a:hover {
    color: var(--title);
    font-family: 'alatsi';
    font-size: 1em;
    text-transform: uppercase;
}

nav li {
    /* background-color: rgba(0, 0, 255, 0.212); */
    display:inline;
    margin-right: 10px;
}

nav ol {
    margin: auto;
}

ul {
    overflow:hidden
}

/* menu déroulant */

.menu {
    /* background-color: rgba(128, 0, 128, 0.13); */
}

.fa-bars {
    font-size: 1.8em;
    color: var(--title);
    margin: 5px;
}

/* barre extra droite */

#container-extra {
    justify-content: flex-end;
} 

.extraside {
    display: flex;
    flex-direction: column;
    align-items: center;
    right: 0;
    padding: 28px 5px;
    backdrop-filter: blur(5px);
    background-color: rgb(0 0 0 / 20%);
    width:50px;
    height: 500px;
    border-radius: 12px;
    box-shadow: var(--mainpurple) 0 0 12px;

}

.fa-twitter, .fa-etsy, .fa-instagram, .fa-home {
    color: var(--title);
    padding: 8px 0;
}

.line {
    height: 2px;
    width: 100%;
    background-color: rgb(63 41 79);
    margin: 15px;
  }

  .toggle-theme {
    /* background: #735a99; */
    background: var(--gradient2);
    width: 33px;
    height: 33px;
    text-align: center;
    padding-top: 5px;
    border-radius: 7px;
    color: white;
    box-shadow: #221734 0 0 7px;
  }

/* milieu */

#container-main {
    display:flex;
    justify-content: space-evenly;
}

.accueil {
    /* background-color: #ffffff; */
    z-index: 2;
}

h2 {
    background: var(--gradient3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2.5em;
    width: 400px;
    text-indent: 50px;
    font-family: 'Cinzel';
    filter: drop-shadow(#1f1e1e 0 0 5px);
    margin: 135px 101px 0 0;
}

.accueil p {
    max-width: 400px;
    color: var(--title);
    font-family: 'alatsi';
}

/* Etoiles Filantes */


.nuitfilante{
    position: absolute;
    width: 38%;
    height: 61%;
    transform: rotateZ(40deg);
    left: 150px;
    opacity: 10%;
  }
  
  .etoile{
    position: absolute;
    left: 50%;
    top: 50%;
    height: 2px;
    background: linear-gradient(-45deg, #6e8dd1, rgba(0, 0, 255, 0));
    border-radius: 999px;
    filter: drop-shadow(0 0 6px #6e8dd1);
animation: tail 5s ease-in-out infinite, falling 5s linear infinite;
  }
  
  @keyframes tail{
    0%{
      width: 0;
    }
    30%{
      width: 100px;
    }
    100%{
      width: 0;
    }
  }
  
  @keyframes falling{
    0%{
      transform: translateX(0);
    }
    100%{
      transform: translateX(300px);
    }
  }
  
  .etoile::before, .etoile::after{
    content: '';
    position: absolute;
    top: calc(50% - 2px);
    right: 0;
    height: 4px;
    background: linear-gradient(-45deg, rgba(0, 0, 255, 0), #cfd5e4, rgba(0, 0, 255, 0));
    border-radius: 100%;
    transform: translateX(50%) rotateZ(45deg);
    animation: shining 3s ease-in-out infinite;
  }
  
  @keyframes shining{
    0%{
      width: 0;
    }
    50%{
      width: 30px;
    }
    100%{
      width: 0;
    }
  }
  
  .etoile::after{
    transform: translateX(50%) rotateZ(-45deg);
  }
  
  .etoile:nth-child(1){
    top: calc(38% - 100px);
    left: calc(91% - 250px);
    animation-delay: 1s;
  }
  
  .etoile:nth-child(1)::before, .etoile:nth-child(1)::after{
    animation-delay: 1s;
  }
  
  .etoile:nth-child(2){
    top: calc(50% - 50px);
    left: calc(50% - 200px);
    animation-delay: 0.3s;
  }
  
  .etoile:nth-child(2)::before, .etoile:nth-child(2)::after{
    animation-delay: 1.2s;
  }
  
  .etoile:nth-child(3){
    top: calc(50% - 0px);
    left: calc(50% - 150px);
    animation-delay: 1.4s;
  }
  
  .etoile:nth-child(3)::before, .etoile:nth-child(3)::after{
    animation-delay: 1.4s;
  }
  
  .etoile:nth-child(4){
    top: calc(50% - -50px);
    left: calc(-25% - 103px);
    animation-delay: 0.5s;
  }
  
  .etoile:nth-child(4)::before, .etoile:nth-child(4)::after{
    animation-delay: 1.6s;
  }
  
  .etoile:nth-child(5){
    top: calc(50% - -100px);
    left: calc(50% - 250px);
    animation-delay: 0.3s;
  }
  
  .etoile:nth-child(5)::before, .etoile:nth-child(5)::after{
    animation-delay: 1.8s;
  }

  .etoile:nth-child(6){
    top: calc(28% - -100px);
    left: calc(18% - 250px);
    animation-delay: 1.8s;
  }
  
  .etoile:nth-child(6)::before, .etoile:nth-child(6)::after{
    animation-delay: 1.8s;
  }

  .etoile:nth-child(7){
    top: calc(70% - -100px);
    left: calc(64% - 250px);
    animation-delay: 1.8s;
  }
  
  .etoile:nth-child(7)::before, .etoile:nth-child(7)::after{
    animation-delay: 1.8s;
  }








/* .nuitfilante {
    position: absolute;
    width: 100%;
    height: 100%;

}

.etoile {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 4px;
    width: 100px;
    background: var(--gradient4);
    border-radius: 99%;
    filter: drop-shadow(0 0 6px rgba(105, 155, 255, 1));
    animation: fili 3s ease-in-out infinite, filante 3s ease-in-out infinite;
}

.etoile:before, .etoile:after {
    content: '';
    position: absolute;
    top: calc(50% - 2px);
    right: 0px;
    height: 4px;
    width: 30px;
    border-radius: 100%;
    transform: translateX(50%) rotateZ(45deg);
    background: var(--gradient4);
}

.etoile:after {
    transform: translateX(50%) rotateZ(-45deg);
}

.etoile:nth-child(1){
    top: calc(50% - 100px);
    left: calc(50% - 250px);
    animation-delay: 1s;
}

.etoile:nth-child(1):before, .etoile:nth-child(1):after {
    top: calc(50% - 10px);
    left: calc(50% - 250px);
    animation-delay: 1s;
}

.etoile:nth-child(2){
    top: calc(50% - 100px);
    left: calc(50% - 250px);
    animation-delay: 1s;
}

.etoile:nth-child(2):before, .etoile:nth-child(2):after {
    top: calc(50% - 100px);
    left: calc(50% - 250px);
    animation-delay: 1s;
}

@keyframes fifi {
    0% {
        width: 0px;
    }

    30% {
        width: 100px;
    }

    100% {
        width: 0;
    }
}

@keyframes filante {
    0% {
        width: 0px;
    }

    50% {
        width: 30px;
    }

    100% {
        width: 0;
    }  
}

*/