#wrapper {
    margin: 2%;
    border-radius: 1em;
    background-color: #372149;
    height: 90vh;
    box-shadow: 0 0 50px #3d2b61;
}

body {
    background: rgb(67,34,85);
    background: linear-gradient(90deg, rgba(67,34,85,1) 0%, rgba(47,47,111,1) 35%, rgba(91,54,111,1) 100%);
}

h1 {
    margin: 0 0 0 3%;
    padding-top: 8px;
    font-size: 3em;
    font-family: 'abhaya';
    color: antiquewhite;
    text-shadow: 0 0 8px #60139f;
}

.h1-two {
    margin: -22px 0 0 2.5%;
    font-family: 'abhaya';
    background: rgb(238,174,202);
    background: linear-gradient(144deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    background-clip: text;
    background-size: 13%;
    -webkit-text-fill-color: transparent;
    font-size: 0.5em;
    letter-spacing: 3px;
    font-style: italic;
}

.ra-sword::before {
    font-size: 0.7em;
  }

 .logo-1 {
    font-size: 1em;
    position: absolute;
    top: 4%;
    left: 20%;
    padding-left: 5px;
    rotate: 12deg;
    color: #ffab4e;
  }
  
